@charset "UTF-8";
/* Colors */
/* Font Size */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  font-size: 1.25rem;
  overflow-x: hidden;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #E52EE5;
}

::selection {
  color: white;
  background: #E52EE5;
}

h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: #ccd6f6;
  font-size: 5rem;
  font-weight: 800;
  margin-left: -5px;
}

h2 {
  color: #8892b0;
  font-size: 4.5rem;
  font-weight: 800;
  margin-top: -18px;
  margin-left: -5px;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

.primary_btn {
  color: #E52EE5;
  font-size: 18px;
  border: 1px solid #E52EE5;
  border-radius: 4px;
  padding: 0.6rem 2rem 0.6rem 2rem;
}

.primary_btn:hover {
  background-color: #E52EE5;
  color: black;
}

@media (min-width: 320px) {
  #hero {
    padding-top: 100px;
  }
  #hero h1 {
    font-size: 4rem;
  }
  #hero h2 {
    font-size: 3rem;
    margin-top: 0.1rem;
  }
}

@media (min-width: 768px) {
  #hero h1 {
    font-size: 5rem;
  }
  #hero h2 {
    font-size: 4.5rem;
    margin-top: -0.9rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 700px;
  }
  #hero h1 {
    font-size: 5rem;
  }
  #hero h2 {
    font-size: 4.5rem;
    margin-top: -0.9rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  #hero {
    padding-top: 120px;
  }
}

#hero {
  background-color: black;
  padding: 5rem 0rem 5rem 0rem;
}

#hero h1 {
  font-size: 5rem;
  background-color: pink;
  background-image: linear-gradient(45deg, #E52EE5, #FF7E44);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero h2 {
  background-image: linear-gradient(45deg, #d9d9d9 0%, #a8a8a8 74%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero a {
  color: white;
  text-decoration: none;
}

#hero a:hover {
  color: #E52EE5;
}

#hero p {
  font-size: 16px;
  color: #ccd6f6;
  line-height: 184.69%;
}

#hero .hero_text a {
  font-size: 16px;
  color: #E52EE5;
  text-decoration: none;
}

#hero .hero_text p {
  font-size: 16px;
  color: #ccd6f6;
  line-height: 184.69%;
}

/* SKILLS */
.skills_box {
  background-color: black;
  color: #ccd6f6;
  padding: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0, auto;
  /*!emojicursor.app*/
}

.skills_box h4 {
  color: #E52EE5;
}

.skills_box p {
  font-size: 16px;
  margin-bottom: 0.5rem;
  color: #ccd6f6;
  line-height: 184.69%;
  max-width: 80%;
}

.skills_box ul {
  list-style: none;
}

.skills_box ul li {
  font-size: 16px;
  margin-bottom: 0.5rem;
  color: #ccd6f6;
  line-height: 184.69%;
  max-width: 80%;
}

.skills_box ul li:hover {
  color: #E52EE5;
}

.skills_box .hvr-bounce-in {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.skills_box .hvr-bounce-in:hover,
.skills_box .hvr-bounce-in:focus,
.skills_box .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.skills_box .hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.skills_box .hvr-pulse-grow:hover,
.skills_box .hvr-pulse-grow:focus,
.skills_box .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* SECTION 2 */
#section_2 {
  padding: 3rem 0rem 0rem 0rem;
  background-color: #EFEFEF;
  /* Animaciones */
}

#section_2 #works {
  background-color: black;
  color: #ccd6f6;
  padding: 6rem 0rem 4rem 0rem;
}

#section_2 #works h3 {
  font-weight: 600;
  font-size: 40px;
}

#section_2 #works p {
  font-size: 16px;
}

#section_2 #works .card {
  background-color: black;
  padding: 2rem 0rem 2rem 0rem;
  color: #a0a0a0;
  border-radius: 0px;
}

#section_2 #works .card .project_logo_uy {
  background-image: url(../img/Uy2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card .project_logo_iv {
  background-image: url(../img/IV2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card .project_logo_bs {
  background-image: url(../img/BS2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card .project_logo_lt {
  background-image: url(../img/MT2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card p {
  color: black;
  font-size: 14px;
}

#section_2 #works .card a {
  color: #000000;
  font-size: 16px;
}

#section_2 #works .card:hover p {
  color: white;
}

#section_2 #works .card:hover .project_logo_uy {
  background-image: url(../img/Uy2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card:hover .project_logo_iv {
  background-image: url(../img/IV2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  height: 100px;
  margin: auto;
}

#section_2 #works .card:hover .project_logo_bs {
  background-image: url(../img/BS2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  height: 100px;
  margin: auto;
}

#section_2 #works .card:hover .project_logo_lt {
  background-image: url(../img/MT2.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  height: 100px;
  margin: auto;
}

#section_2 .hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#section_2 .hvr-float:hover,
#section_2 .hvr-float:focus,
#section_2 .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#section_2 .hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* CONTACT */
#contact {
  padding: 8rem 0rem 8rem 0rem;
  background-color: black;
  color: #ccd6f6;
}

#contact p {
  font-size: 16px;
  margin-bottom: 0.5rem;
  line-height: 184.69%;
}

#contact h3 {
  font-size: 3rem;
}

#contact a {
  color: #ccd6f6;
  text-decoration: none;
}

#contact a:hover i {
  color: #E52EE5;
}

#capred {
  padding: 0rem 0rem 4rem 0rem;
  background-color: #EFEFEF;
  color: black;
}

#capred p {
  font-size: 16px;
  margin-bottom: 0.5rem;
  color: dimgray;
  line-height: 184.69%;
}

#capred p a {
  color: #E52EE5;
  text-decoration: none;
}

#capred img {
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

#capred .subtitle {
  font-size: 30px;
  margin-top: 4rem;
}
/*# sourceMappingURL=styles.css.map */