#about {

    padding: 6rem 0rem 6rem 0rem;
    background-color: white;
    color: rgb(54, 54, 54);

    h3 {
        color: rgb(54, 54, 54);
    }

    hr {
        border: 0.5px solid rgb(54, 54, 54);
        margin: 0px 0px 0px 0px;

    }



    .tecnology {

        h6 {
            color: $detailColor;
            font-size: 1.125rem;
        }

        ul {

            padding-left: 0px;

            li {
                list-style: none;
                font-size: 1.125rem;
            }
        }

    }

    li::before {
        content: "▹";
        color: $detailColor;
        margin-right: 5px;
    }


}