#about {

    padding: 6rem 0rem 6rem 0rem;
    background-color: white;
    color: rgb(17, 17, 17);

    h3 {
        color: rgb(17, 17, 17);
    }

    hr {
        border: 0.5px solid rgb(17, 17, 17);
        margin: 0px 0px 0px 0px;

    }

    p {
        font-size: 18px;
    }


    h6 {
        color: $detailColor;
        font-size: 1.125rem;
    }

    ul {

        padding-left: 0px;

        li {
            list-style: none;
            font-size: 1.125rem;
        }
    }



    li::before {
        content: "▹";
        color: $detailColor;
        margin-right: 5px;
    }


}