#capred {

    padding: 2rem 0rem 4rem 0rem;
    color: $primaryColor;

    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $homeSection;
    }

    ::selection {
        color: black;
        background: $homeSection;
    }


    p {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 184.69%;
        color: $primaryColor;

    }

    img {
        margin-top: 2rem;
        width: 100%;
        height: auto;

    }

    a {
        color: $homeSection;
        text-decoration: none;
        font-size: 16px;
    }

    ul {
        list-style: none;
        padding: 0px;

        li {
            font-size: 16px;
        }
    }

}