#contact {

    padding: 6rem 0rem 10rem 0rem;


    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $green;
    }

    ::selection {
        color: black;
        background: $green;
    }


    h2 {
        background-color: $aboutSection;
        background-image: linear-gradient(45deg, #00e599, #ffffff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }


    a:hover {
        color: $green;
    }

    .primary_btn {
        color: $green;
        font-size: 18px;
        border: 1px solid $green;
        padding: 0.6rem 2rem 0.6rem 2rem;
        border-radius: 0px;
    }

    .primary_btn:hover {
        color: black;
        background-color: $green;
        font-size: 18px;
        border: 1px solid $green;
        padding: 0.6rem 2rem 0.6rem 2rem;
        border-radius: 0px;
    }

}