#contact {

    padding: 12rem 0rem 10rem 0rem;


    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $green;
    }

    ::selection {
        color: black;
        background: $green;
    }


    h2 {
        background-color: $aboutSection;
        background-image: linear-gradient(45deg, #00e599, #ffffff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }
}