//NavBar//

.navbar-mio {
    background-color: black;
    padding: 1rem 0rem 1rem 0rem;

    a {
        color: $primaryColor;
    }

    .btn-resume {
        color: $homeSection;
        border: $homeSection solid 1px;
    }

    .btn-resume2 {
        color: $aboutSection;
        border: $aboutSection solid 1px;
    }



    .btn-resume:hover {
        background-color: $homeSection;
        color: black;
        border: $homeSection solid 1px;
    }

}


//Hero//

#hero {

    background-color: black;
    padding: 8rem 0rem 6rem 0rem;

    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $homeSection;
    }

    ::selection {
        color: black;
        background: $homeSection;
    }


}


hr {
    margin: auto;
    border: 2px solid #696969;
    padding: 4rem 0rem 4rem 0rem;
}


h1 {
    font-size: $h1;
    font-weight: 800;
    background-image: linear-gradient(45deg, #E52EE5, #FF7E44);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background-image: linear-gradient(45deg, #d9d9d9 0%, #a8a8a8 74%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: $detailColor;
}


p {
    font-size: 16px;
    color: $primaryColor;
    line-height: 184.69%;
}

.hero_text {

    a {
        font-size: 16px;
        color: $detailColor;
        text-decoration: none;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }
}


/* SECTION 2 */

#section_2 {

    padding: 3rem 0rem 0rem 0rem;
    background-color: #EFEFEF;

    #works {

        background-color: black;
        color: $primaryColor;
        padding: 6rem 0rem 4rem 0rem;

        h3 {
            font-weight: 600;
            font-size: 30px;
            color: #E52EE5;
        }


        p {
            font-size: 14px;
        }

        .card {
            background-color: black;
            padding: 2rem 0rem 2rem 0rem;
            color: rgb(160, 160, 160);
            border-radius: 0px;


            .project_logo_uy {
                background-image: url(../img/Uy2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }

            .project_logo_iv {
                background-image: url(../img/IV2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }

            .project_logo_bs {
                background-image: url(../img/BS2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }

            .project_logo_lt {
                background-image: url(../img/MT2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }



            p {
                color: black;
                font-size: 14px;
            }

            a {
                color: #000000;
                font-size: 16px;
            }

        }

        .card:hover {

            p {
                color: white;
            }

            .project_logo_uy {
                background-image: url(../img/Uy2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }

            .project_logo_iv {
                background-image: url(../img/IV2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }

            .project_logo_bs {
                background-image: url(../img/BS2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0);
                height: 100px;
                margin: auto;
            }

            .project_logo_lt {
                background-image: url(../img/MT2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }


        }


    }



    /* Animaciones */

    .hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-float:hover,
    .hvr-float:focus,
    .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }



}




/* CONTACT */

#contact {
    padding: 8rem 0rem 8rem 0rem;
    background-color: #EFEFEF;
    color: black;

    p {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 184.69%;
    }

    h3 {
        font-size: $h3;
    }

    a {
        color: $primaryColor;
        text-decoration: none;
    }

    a:hover i {
        color: $detailColor;
    }

}