//NavBar//

.navbar-mio {
    background-color: black;
    padding: 1rem 0rem 1rem 0rem;

    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $homeSection;
    }

    ::selection {
        color: black;
        background: $homeSection;
    }

    a {
        color: $primaryColor;
    }

    .btn-resume {
        color: $homeSection;
        border: $homeSection solid 1px;
        border-radius: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .btn-resume:focus {
        outline: none;
        box-shadow: none;
    }

    .btn-resume2 {
        color: $aboutSection;
        border: $aboutSection solid 1px;
    }



    .btn-resume:hover {
        background-color: $homeSection;
        color: black;
        border: $homeSection solid 1px;
    }


    .btn-resume2:hover {
        background-color: $aboutSection;
        color: black;
        border: $aboutSection solid 1px;
    }

}


//Hero//

#hero {

    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;

    ::-moz-selection {
        /* Code for Firefox */
        color: black;
        background: $homeSection;
    }

    ::selection {
        color: black;
        background: $homeSection;
    }

    h1 {
        font-size: $h1;
        font-weight: 800;
        background-image: linear-gradient(45deg, #E52EE5, #FF7E44);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        background-image: linear-gradient(45deg, #d9d9d9 0%, #a8a8a8 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }


}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: $homeSection;
}




.hero_text {

    a {
        font-size: 16px;
        color: $homeSection;
        text-decoration: none;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }
}