#hero {

    background-color: black;
    padding: 5rem 0rem 5rem 0rem;

    h1 {
        font-size: $h1;
        background-color: pink;
        background-image: linear-gradient(45deg, #E52EE5, #FF7E44);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        background-image: linear-gradient(45deg, #d9d9d9 0%, #a8a8a8 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: $detailColor;
    }


    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }

    .hero_text {

        a {
            font-size: 16px;
            color: $detailColor;
            text-decoration: none;
        }

        p {
            font-size: 16px;
            color: $primaryColor;
            line-height: 184.69%;
        }
    }


}


/* SKILLS */

.skills_box {
    background-color: black;
    color: $primaryColor;
    padding: 3rem;
    margin-bottom: 5rem;
    border-radius: 10px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);

    h4 {
        color: $detailColor;
    }

    p {
        font-size: 16px;
        margin-bottom: 0.5rem;
        color: $primaryColor;
        line-height: 184.69%;
        max-width: 80%;
    }

    ul {

        list-style: none;

        li {
            font-size: 16px;
            margin-bottom: 0.5rem;
            color: $primaryColor;
            line-height: 184.69%;
            max-width: 80%;
        }

        li:hover {
            color: $detailColor;
        }
    }

    .hvr-bounce-in {
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .hvr-bounce-in:hover,
    .hvr-bounce-in:focus,
    .hvr-bounce-in:active {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }



    @-webkit-keyframes hvr-pulse-grow {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @keyframes hvr-pulse-grow {
        to {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .hvr-pulse-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    .hvr-pulse-grow:hover,
    .hvr-pulse-grow:focus,
    .hvr-pulse-grow:active {
        -webkit-animation-name: hvr-pulse-grow;
        animation-name: hvr-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }

    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0,
    auto;
    /*!emojicursor.app*/



}


/* SECTION 2 */

#section_2 {

    padding: 3rem 0rem 0rem 0rem;
    background-color: #EFEFEF;

    #works {

        background-color: black;
        color: $primaryColor;
        padding: 6rem 0rem 4rem 0rem;

        h3 {
            font-weight: 600;
            font-size: 40px;
        }


        p {
            font-size: 16px;
        }

        .card {
            background-color: black;
            padding: 2rem 0rem 2rem 0rem;
            color: rgb(160, 160, 160);
            border-radius: 0px;


            .project_logo_uy {
                background-image: url(../img/Uy2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }

            .project_logo_iv {
                background-image: url(../img/IV2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                height: 100px;
                margin: auto;
            }

            .project_logo_bs {
                background-image: url(../img/BS2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);
      
                height: 100px;
                margin: auto;
            }

            .project_logo_lt {
                background-image: url(../img/MT2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);
 
                height: 100px;
                margin: auto;
            }



            p {
                color: black;
                font-size: 14px;
            }

            a {
                color: #000000;
                font-size: 16px;
            }

        }

        .card:hover {

            p {
                color: white;
            }

            .project_logo_uy {
                background-image: url(../img/Uy2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }

            .project_logo_iv {
                background-image: url(../img/IV2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }

            .project_logo_bs {
                background-image: url(../img/BS2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0);
                height: 100px;
                margin: auto;
            }

            .project_logo_lt {
                background-image: url(../img/MT2.svg);
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0%);
                height: 100px;
                margin: auto;
            }


        }


    }



    /* Animaciones */

    .hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-float:hover,
    .hvr-float:focus,
    .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }



}




/* CONTACT */

#contact {
    padding: 8rem 0rem 8rem 0rem;
    background-color: black;
    color: $primaryColor;

    p {
        font-size: 16px;
        margin-bottom: 0.5rem;
        line-height: 184.69%;
    }

    h3 {
        font-size: $h3;
    }

    a {
        color: $primaryColor;
        text-decoration: none;
    }

    a:hover i {
        color: $detailColor;
    }

}