.navbar {
    background-color: $bgcolor;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);

    .primary_btn {
        color: $detailColor;
        font-size: 15px;
        border-radius: 4px;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .primary_btn:hover {
        background-color: $detailColor;
        color: $bgcolor;
    }

    .nav-link {
        font-size: 15px;
    }


}