#projects {

    background-color: black;
    height: 100vh;
    padding: 5rem 0rem 5rem 0rem;

    h1 {
        font-size: $h1;
        background-color: #00e599;
        background-image: linear-gradient(45deg, #00e599, #ffffff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        background-image: linear-gradient(45deg, #d9d9d9 0%, #a8a8a8 74%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        font-size: 16px;
        color: $primaryColor;
        line-height: 184.69%;
    }

    .projects_text {

        a {
            font-size: 16px;
            color: #00e599;
            text-decoration: none;
        }

        p {
            font-size: 16px;
            color: $primaryColor;
            line-height: 184.69%;
        }
    }


    .about_btn {
        color: #ffd333;
        font-size: 18px;
        border: 1px solid #ffd333;
        border-radius: 4px;
        padding: 0.6rem 2rem 0.6rem 2rem;
    }

    .about_btn:hover {
        background-color: #ffd333;
        color: black;
    }

    



}