
/* Colors */

$bgcolor: black;
$primaryColor: #ccd6f6;
$secundaryColor:#8892b0;   
$detailColor: #EE5433;


/* Font Size */

$h1: 5rem;
$h2: 4.5rem;
$h3: 3rem;
$h4: 1.5rem; 
$p: 1.2rem;
$small: 1rem; 