
/* Colors */

$bgcolor: #131820;
$primaryColor: #ccd6f6;
$secundaryColor:#8892b0;   
$detailColor: #64ffda;


/* Font Size */

$h1: 5rem;
$h2: 4.8rem;
$h3: 3rem;
$h4: 1rem; 
$p: 1.2rem;
$small: 1rem; 