
/* Colors */

$lightgrey: rgb(105, 105, 105);
$primaryColor: #ccd6f6;
$secundaryColor:#8892b0; 
$homeSection:#E52EE5;
$aboutSection: #00e599;


/* Font Size */

$h1: 5rem;
$h2: 4.5rem;
$h3: 3rem;
$h4: 1.5rem;
$subtitle: 30px;
$p: 1.2rem;
$small: 1rem; 