#works {
    padding: 8rem 0rem 0rem 0rem;

    .card {
        background-color: #172030;
        --tw-shadow: 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000),
            var(--tw-shadow);
        border-radius: 8px;

        .card-footer {
            border: none;
            background-color: #172030;

        }

    }

    .card:hover {

        h4 {
            color: $detailColor;
        }

        p {
            color: white;
        }

        .card-footer {

            li {
                background-color: white;
            }
        }


    }

    h4 {
        color: $primaryColor;
    }

    p {
        font-size: $small;
    }

    ul {
        padding: 0px;

        a {
            text-decoration: none;
            color: $primaryColor;
        }

        a:hover {
            color: $detailColor;
        }

        li {
            display: inline;
            font-size: 18px;
        }
    }

    .tag {
        background-color: $secundaryColor;
        padding: 0.3rem;
        color: $bgcolor;
        font-size: 14px;
        border-radius: 4px;
    }


    /* Animaciones */

    .hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-float:hover,
    .hvr-float:focus,
    .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }



}